<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <div id = "div_pagina">
            <%- include('includes/control_luces.ejs') -%>
            <%- include('includes/control_temp.ejs') -%>
            <%- include('includes/control_aire.ejs') -%>
        </div>
    </body>
</html>
