<html>
    <head>
        <%- include('includes/dependencies.ejs') -%>
    </head>
    <body>
        <%-include('includes/menu.ejs')-%>
        <%- include('includes/control_luces.ejs') -%>
        <%- include('includes/control_temp.ejs') -%>
        <%- include('includes/control_aire.ejs') -%>
    </body>
</html>
